*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration:none;
}
ul{
	list-style:none;
}
body{
	overflow-x:auto;
	min-width:1200px;
	
}

.fl{
	float:left;
}
.fr{
	float:right;
}
.clear:after{
   content:".";
   display:block;
   height:0;
   overflow:hidden;
   clear:both;
}
.page-name{
	font-size:22px;
    line-height:60px;
	margin-left:10px;
	color:#333;
}
.cart-search{
	border:2px solid #459d36;
    width:325px;
    height:30px;
    line-height:28px;
	margin-top:20px;
}
.search-text{
    width:260px;
    border:none;
    outline:none;
    padding:0 5px;
    height:26px;
	background:#fff;
}
.cart-search a{
	background:#459d36;
    display:block;
    width:50px;
	color:#fff;
	text-align:center;
	text-decoration:none;
	font-size:12px;
	height:28px;
	cursor: pointer;
}
.cart-search a:hover{
	color:#daf5d9;
}
.select-menu{
	width:1200px;
	margin:0 auto;
	margin-top:30px;
}
.cart-menu{
	border-bottom:2px #ddd solid;
	position:relative;
}
.menu-ul{
	padding-bottom:10px;
}
.menu-ul li{
	float:left;
    font-size:16px;
    border-right:1px solid #e8e8e8;
    padding:0 30px;
    color:#3c3c3c;
    position:relative;
    cursor:pointer;
}
.hovc{
	color:#ff6600 !important;
}
.newtips1{
	background:url(img/newtips.png) no-repeat;
    background-position: 0 0;
	display:inline-block;
    width:24px;
    height:24px;
    margin-right:5px;
    vertical-align:middle;
}
.i1{
	margin-left:5px;
	color:#ff6000;
	font-style:normal;
}
.nav-current{
	width:176px;
    left:0px;
    overflow:hidden;
	position:absolute;
    bottom:-2px;
    height:6px;
    border-bottom:2px solid #ff6000;
}
.arrow{
	position:absolute;
    bottom:1px;
    left:0;
    width:100%;
	text-align:center;
}
.arrow i{
	border-style: dotted solid solid solid;
    border-color:transparent transparent #ff6000 transparent;
    border-width:5px;
    font-size:0;
    line-height:0;
	font-style: normal;
}
#contentbox{
	width:1200px;
	margin:0 auto;
	margin-top:30px;
}
.cart-table{
	margin-top:10px;
    border-collapse:collapse;
    empty-cells:show;
}
.tr1{
	padding-top:30px;
	padding-bottom:10px;
	padding-left:10px;
}
.span1{
	border-radius:3px;
    padding:3px 6px 4px 23px;
	background:url(img/fh-ico.png) no-repeat 0 -55px #6acd34;
	margin-left:5px;
	color:#fff;
	float:left;
	font-size:12px;
}
.cart-table tbody tr td b{
	margin-left:10px;
	margin-top:5px;
	position:relative;
	font-weight:400;
}
.cart-table tbody tr td b:hover .cart-tc{
	display:block;
	cursor:pointer;
}
.cart-tc{
	position:absolute;
    left:-75px;
    top:24px;
    width:253px;
    border:1px solid #e5e2e8;
    box-shadow:0px 1px 8px #e6e6e6;
    padding:15px 10px;
    display:none; 
    z-index:2;
	background:#fff;
}
.cart-tc em,.cart-tc i{
	position:absolute;
    border-width:8px;
    font-size:0;
    line-height:0;
}
.cart-tc em{
    top:-16px;
    left:73px;
    border-style:dotted solid solid solid;
    border-color:transparent transparent #ccc transparent;
}
.cart-tc i{
	top:-15px;
    left:73px;
    border-style:dotted solid solid solid;
    border-color:transparent transparent #fff transparent;
}
.p1{
	color:#333;
	font-size:12px;
}
.baoyou{
	margin-left:25px;
	margin-top:5px;
	color:#666;
	font-size:12px;
}
.baoyou span{
	background:#ff6000;
    color:#fff;
	padding:3px 8px;
    border:1px dotted #ff6000;
    margin-right:3px;
	border-radius:3px
}
.cart-order{
	border:1px solid #ccc;
}
.cart-order td{
	padding:10px;
    background:#fcfcfc;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.por-img{
	width:87px;
    height:87px;
    border:1px solid #e8e8e8;
	background:#fff;
	text-align:center;
}
.por-img a{
	display:table-cell;
    vertical-align:middle;
    width:87px;
    height:87px;
}
.por-img a img{
	width:80px;
}
.por-intro{
	margin-top:30px;
	width:310px;
	margin-left:20px;
}
.por-intro a{
	color:#333;
	font-size:12px;
}
.por-intro p{
	color:#ff6600;
	margin-top:5px;
	font-size:12px;
}
.buynum{
	background:#fff;
    border:1px solid #cacbcb;
    display:inline-block;
}
.buynum span{
	display:inline-block;
    height:22px;
    line-height:22px;
    padding:0 3px;
    cursor:pointer;
    outline:none;
	border-radius:3px;
	font-size:18px;
}
.buynum input{
	padding:0;
    margin:0 2px;
    border:0;
    border-right:1px solid #cacbcb;
    border-left:1px solid #cacbcb;
    width:43px;
	line-height:24px;
    height:25px;
	background:#fff;
	text-align:center;
	font-size:12px;
}
.balance{
	height:62px;
    line-height:62px;
    background:#f5f5f5;
}
.go-balance{
	background:#459d36;
	width:213px;
    display:inline-block;
    border-radius:5px;
	color:#fff;
	margin-left:20px;
	font-weight:700;
	text-align:center;
	font-size:18px;
}
.go-buy{
	background:#f5f5f5;
    border:1px solid #b1b1b1;
    padding:3px 10px;
    border-radius:3px;
	font-size:12px;
	color:#333;
}
.qcGoodsBox>div{
	width:278px;
    border:1px solid #ddd;
    margin:16px 10px;
    padding-bottom:15px;
	position:relative;
	z-index:-1;
}
.imgBox{
	padding:20px 0;
}
#wrap{
	margin:15px auto 0 auto;
	z-index:997;
    position:relative;
}
#wrap img{
	width:140px;
	display:block;
    margin:0 auto;
}
.qcGoodsTit{
    height:31px;
    line-height:16px;
    text-overflow:ellipsis;
    overflow:hidden;
    margin:12px 14px;
	font-size:12px;
	padding:12px 14px;
	color:#333;
}
.discountLogo{
	width:49px;
    height:46px;
    background:url(img/discountLogo.png) no-repeat;
    background-size:100%;
    left:0;
    top:0;
    z-index:99;
	color: #fff;
    position:absolute;
	text-align:center;
}
.ftc{
	text-align:center;
}
.null-shopcart{
    background: url(../img/null-cart.png) no-repeat;
    padding-left: 155px;
    padding-top: 30px;
    margin: 100px 0;
	display:inline-block;
}
.null-shopcart h1{
   color:#999;
   font-size:30px;
   font-weight:400;
}
.null-shopcart .go-bbtn{
	text-align:center;
	margin-top:5px;
}
.null-shopcart .sbtn{
	height: 35px;
    line-height: 35px;
    background: #4bad07;
    border: 1px solid #55a71e;
    border-radius: 3px;
	padding-right: 20px;
	display: inline-block;
	    cursor: pointer;
    vertical-align: middle;
	margin-top: 10px;
	text-decoration: none;
    color: #444;
	text-align: left;
}
.null-shopcart .sbtn span{
	height: 35px;
    line-height: 35px;
    font-size: 15px;
    padding-left: 20px;
    color: #FFF;
	float: left;
    background-repeat: no-repeat;
}